\input{latex/tex/style.tex}

\extrafloats{1000}

\begin{document}

\begin{titlepage}
    \centering
    \vspace*{5cm}
    \includegraphics[width=0.4\textwidth]{\LogoTitlepage}\\[0.5cm]
{\Huge\sffamily\bfseries\color{ColorSecondary}{AI generated code review}\\[0.75em]
\Large\sffamily created by \href{https://github.com/punk-security/SAIST}{\textbf{SAIST}}}\\[0.75em]
{%- if model.model_vendor is not none -%}
\Large\sffamily\color{ColorSecondary}{{ escape_tex(model.model_vendor) }}: 
{%- endif -%}
\Large\sffamily\color{ColorSecondary}{{ escape_tex(model.model_name) }}
{%- if project is not none -%}
  \\[0.75em]
  \Large\sffamily\color{ColorSecondary}{{ escape_tex(project) }}\\[0.75em]
{%- endif -%}

\vspace{2.5cm}
\centering\Large\sffamily\color{ColorSecondary}{{ now }}

\end{titlepage}

\tableofcontents

\section{Summary}

{{ escape_tex(comment) }}

\newpage
\section{Findings}

{%- for finding in findings if finding.cwe -%}
    {%- set title = escape_tex(finding.title) -%}
    {%- set issue = escape_tex(finding.issue) -%}
    {%- set file = escape_tex(finding.file) -%}
    {%- set recommendation = escape_tex(finding.recommendation) -%}
\subsection{ {{ finding.cwe }} - {{ file }} - {{title}} }

\textbf{Priority:}\;
{%- if finding.priority > 8 -%}\colorbox{ColorRed}{Critical}
{%- elif finding.priority > 7 -%}\colorbox{ColorRed}{High}
{%- elif finding.priority > 4 -%}\colorbox{ColorOrange}{Medium}
{%- else -%}\colorbox{ColorBlue}{Low}
{%- endif -%}\\

\textbf{Issue:}\; {{ issue }}\\

\textbf{Recommendation:}\;
{%- if finding.recommendation is not none -%}
  {{ recommendation }}
{%- else -%}
  Not applicable.
{%- endif -%}

\begin{figure}[!ht]
    \begin{minted}[firstnumber={{ finding.context_start }},highlightlines={{ finding.line_number}}]{python}
{{ finding.context }}
    \end{minted}
    \caption{\textbf{ {{file}} } on line \textbf{ {{ finding.line_number }} }}
\end{figure}
\newpage
{%- endfor -%}
\end{document}
