\input{latex/tex/style.tex}

\begin{document}

\begin{titlepage}
    \centering
    \vspace*{5cm}

    \includegraphics[width=0.4\textwidth]{\LogoTitlepage}\\[0.5cm]
    {\Large\sffamily\bfseries\color{ColorSecondary}{SAIST Report}}
\end{titlepage}

\tableofcontents

\section{Summary}

{{ escape_tex(comment) }}

\section{Findings}

{%- for finding in findings if finding.cwe -%}
    {%- set issue = escape_tex(finding.issue) -%}
    {%- set file = escape_tex(finding.file) -%}
\subsection{ {{ finding.cwe }} - {{ file }} }
{\renewcommand{\arraystretch}{1}%
\begin{tabularx}{\textwidth}{|X|X|X|}
    \hline
    \rowcolor{ColorPrimary} \color{white}{\textbf{Severity}} & \color{white}{\textbf{Issue}} & \color{white}{\textbf{Recommendation}} \\
    {%- if finding.priority > 4 -%} \colorbox{ColorOrange}{Medium}
    {%- elif finding.priority > 7 -%} \colorbox{ColorRed}{High}
    {%- elif finding.priority > 8 -%} \colorbox{ColorRed}{Critical}
    {%- else -%} \colorbox{ColorBlue}{Low} {%- endif -%}
    & {{ issue }} &
    {%- if finding.recommendation is not none %} {{ finding.recommendation }} \\
    {%- else -%} Not applicable. \\ {%- endif %}
    \hline
\end{tabularx}

\begin{figure}[!ht]
    \begin{minted}[firstnumber={{ finding.context_start }},highlightlines={{ finding.line_number}}]{python}
{{ finding.context }}
    \end{minted}
    \caption{\textbf{ {{file}} } on line \textbf{ {{ finding.line_number }} }}
\end{figure}
{%- endfor -%}

\end{document}